body {
  background-image: url("../SingleHeroPage/marvel-5-scaled.jpg");
  background-repeat: repeat;
  background-size:cover;
  background-attachment: fixed;
}
.comics-img {
}

/* Container holding the image and the text */
.container-for-comics-img-and-title {
  position: relative;
  text-align: left;
  color: white;
  transition: transform .2s;
}


.container-for-comics-img-and-title:hover{
  transform: scale(1.2);
  z-index: 999;
  cursor: pointer;
}

/* Bottom left text */
.comics-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
  width: 100%;
  font-size: 12px;
}

.comics-title:hover {
  color: red;
  opacity: 1;
 }